[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-multipart = "*"
pillow = "*"
pytest = "*"
boto3 = "*"
fastapi-camelcase = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
